@{
    ViewBag.Title = "Rentals API Web Client";
}

<div class="jumbotron">
    <h1>Rentals API</h1>
    <p class="lead">@ViewBag.Title</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hello Test</h2>
        <p>@ViewBag.HelloResponse</p>
    </div>
</div>